@import './styles/globals.css';
@import './styles/design-system.css';

body {
  margin: 0;
  font-family: var(--tutorkai-font-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--tutorkai-neutral-50);
  color: var(--tutorkai-secondary-900);
}

code {
  font-family: var(--tutorkai-font-mono);
}
